@{
    ViewBag.Title = "BookShelf";
}

<div class="jumbotron" style="color:aqua;background:url('../../Content/images/heartshelf.jpg')no-repeat center center">
    <h1>Bookshelf</h1>
    <p class="lead">A bookshelf is a great place to hold books.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg"style="background-color:darkmagenta;color:crimson">Learn more &raquo;</a></p>

</div>